<a href="https://colab.research.google.com/github/kamalahmadov474/Python_Tasks/blob/main/Coding_Task_HW_Dictionaries_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a program to merge two dictionaries into one. If there are overlapping keys, sum their values.

2) Write a Python program to create an empty dictionary.

3) Write a Python script to iterate over a dictionary and print all key-value pairs.

4) Write a Python program to remove the key-value pair with key 'age' from  dictionary

5) Write a program to sort a dictionary by its keys in ascending order and print the sorted dictionary.

6) Given a dictionary students_scores = {'Alice': 85, 'Bob': 90}, update the score for 'Alice' to 95. If 'Charlie' does not exist in the dictionary, add 'Charlie' with a default score of 60.

7) Write a Python program to print all the values in  dictionary:

8) Given a dictionary item_prices = {'apple': 1.00, 'banana': 0.50}, calculate the total price of all items. Then, apply a 10% discount to all items and update the dictionary.

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
dict2 = {'b':3, 'c':4, 'd':5}
merged_dict = dict1.copy()
for key,value in dict2.items():
  if key in merged_dict:
    merged_dict[key] += value
  else:
    merged_dict[key] = value
print(merged_dict)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [ ]:
empty_dict = {}
print(empty_dict)

{}

In [ ]:
example_dict = {'a':1, 'b':2, 'c':3, 'd':4}
for key,value in example_dict.items():
  print(f'Key: {key}, Value {value}')

Key: a, Value 1
Key: b, Value 2
Key: c, Value 3
Key: d, Value 4

In [ ]:
person_dict = {'name': 'Kamal', 'age': 19, 'city': 'New York'}
if 'age' in person_dict:
  del person_dict['age']
print(person_dict)

{'name': 'Kamal', 'city': 'New York'}

In [ ]:
unsorted_dict = {'banana': 3, 'apple': 4, 'pear':1, 'orange': 2}
sorted_dict = dict(sorted(unsorted_dict.items()))
print(sorted_dict)

{'apple': 4, 'banana': 3, 'orange': 2, 'pear': 1}

In [ ]:
students_scores = {'Alice': 85, 'Bob': 90}
students_scores['Alice'] = 95
if 'Charlie' not in students_scores:
  students_scores['Charlie'] = 60
print(students_scores)

{'Alice': 95, 'Bob': 90, 'Charlie': 60}

In [ ]:
example_dict = {'name':'Kamal','age':19, 'city':'Baku'}
for value in example_dict.values():
  print(value)

Kamal
19
Baku

In [ ]:
item_prices = {'apple':1.00, 'banana':0.50}
total_price = sum(item_prices.values())
print(f"Total price before discount: ${total_price}")
discount_rate = 0.10
for item in item_prices:
  item_prices[item] -= item_prices[item] * discount_rate
print("Updated item prices with 10% discount:")
for item,price in item_prices.items():
  print(f"{item}: ${price:}")
total_price_after_discount = sum(item_prices.values())
print(f"Total price after discount: ${total_price_after_discount:.2f}")

Total price before discount: $1.5
Updated item prices with 10% discount:
apple: $0.9
banana: $0.45
Total price after discount: $1.35