<a href="https://colab.research.google.com/github/kamalahmadov474/Python_Tasks/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet(name):
    print(f"Hello, {name}!")
greet('Kamal')

Hello, Kamal!

In [ ]:
def add(a,b):
  return a+b
add(3,4)

7

In [ ]:
def power(base,exponent=2):
  return base ** exponent
power(3)

9

In [ ]:
def sum_all(args):
  return sum(args)
sum_all([1,2,3])

6

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)
factorial(5)

120

In [ ]:
def swap(a, b):
  return b,a
x, y = swap(4,7)
print(x,y)

7 4

In [ ]:
def find_max(lst):
  return max(lst)
find_max([2,4,9,3])

9

In [ ]:
def reverse_list(list):
  return list[::-1]
reverse_list([1,2,3,4])

[4, 3, 2, 1]

In [ ]:
def is_even(n):
  if n % 2 == 0:
    print("Even")
  else:
    print("Odd")
is_even(6)

Even

In [ ]:
def is_prime(n):
    if n <= 1:
        print("Not Prime")
        return
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            print("Not Prime")
            return
    print("Prime")
is_prime(15)
is_prime(13)

Not Prime
Prime

In [ ]:
def multiply(nums):
  product = 1
  for number in nums:
    product *= number
  return product
multiply([1,2,3])

6

In [ ]:
def square_list():
  squares_of_numbers = [k**2 for k in range(1,31)]
  print(squares_of_numbers)
square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]