<a href="https://colab.research.google.com/github/kamalahmadov474/Python_Tasks/blob/main/KamaL_Akhmedof_Function_HomeTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a function is_even(n) that returns True if the number is even, otherwise False.

2) Write a function is_prime(n) that checks if a number is prime. (*A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. In other words, a prime number is only divisible by 1 and itself without leaving a remainder. Examples of prime numbers include 2, 3, 5, 7, 11, 13, 17, and so on.*)

3) Write a  Python function to multiply all the numbers in a list.


```
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336
```

4) Write a Python function that accepts a string and counts the number of upper and lower case letters.

```
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12
```

5) Write a  Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

6) Write a function to check if a given number is an Armstrong number or not.

7) Write a function that calculates the sum of digits of a given number.

8) Write a function that finds the number of divisors of a given number.

9) Write a function called fuel_cost that takes a distance as a required argument, km (default 50 km) and fuel cost (default $1 a litre) as optional arguments. The function should return the cost in dollars.

10) Write a function called hcf (∆èBOB) that takes 2 integer values and returns the highest common factor of the numbers.

In [ ]:
def is_even(n):
  if n % 2 == 0:
    return True
  else:
    return False
n = int(input())
if is_even(n):
  print("Even")
else:
  print("False")

8
Even

In [ ]:
def is_prime(n):
  if n <=1:
    return False
  for k in range(2,int(n**0.5) + 1):
    if n % k == 0:
      return False
    return True
n = int(input())
if is_prime(n):
  print("A prime number")
else:
  print("Not a prime number")

101
A prime number

In [ ]:
def multiply_all_numbers(nums):
  multiplication = 1
  for number in nums:
    multiplication *= number
  return multiplication
list_1 = [8, 2, 3, -1, 7]
print(multiply_all_numbers(list_1))

-336

In [ ]:
def number_of_upper_lower(n):
  number_of_upper = sum(1 for k in n if k.isupper())
  number_of_lower = sum(1 for k in n if k.islower())
  print(f"No. of Upper Case Letters: {number_of_upper}")
  print(f"No. of Lower Case Letters: {number_of_lower}")
string = "Kamal is a Senior Mechatronics and Robotics Engineering student."
number_of_upper_lower(string)

No. of Upper Case Letters: 5
No. of Lower Case Letters: 50

In [ ]:
def square_list():
  squares_of_numbers = [k**2 for k in range(1,31)]
  print(squares_of_numbers)
square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
def armstrong_number(num):
  number_string = str(num)
  number_digits = len(number_string)
  armstrong_sum = sum(int(digit)**number_digits for digit in number_string)
  return armstrong_sum == num
print(armstrong_number(153))
print(armstrong_number(127))

True
False

In [ ]:
def sum_of_digits(numbers):
  number_string = str(numbers)
  digits_sum = 0
  for digit in number_string:
    digits_sum += int(digit)
  return digits_sum
print(sum_of_digits(474))
print(sum_of_digits(91))

15
10

In [ ]:
def number_of_divisors(num):
  count_of_divisors = 0
  for k in range(1,num + 1):
    if num % k == 0:
      count_of_divisors += 1
  return count_of_divisors
print(number_of_divisors(15))
print(number_of_divisors(19))

4
2

In [ ]:
def fuel_cost(distance = 50, fuel_cost_per_liter = 1):
  return distance * fuel_cost_per_liter
print(fuel_cost())
print(fuel_cost(50))
print(fuel_cost(100,1.5))

50
50
150.0

In [ ]:
def highest_common_factor(number_1, number_2):
  while number_2:
    number_1, number_2 = number_2, number_1 % number_2
  return number_1
print(highest_common_factor(15,100))
print(highest_common_factor(23,39))

5
1