<a href="https://colab.research.google.com/github/kamalahmadov474/Python_Tasks/blob/main/KamaL_Akhmedof_Task_02_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1)** Create a class with names of fruits and add a new fruit, "fig", to the end of the list and print the updated list.

**2)** Create a list with the ages of the children in the class and print the length of the list.

**3)** Insert a new fruit, "grape", at the second position in the list and print the updated list.

**4)** Remove a specific fruit, "fig", from the list using the remove method and print the updated list.

**5)** Print the last fruit in the list after sorting it in reverse alphabetical order using the sort method.

**6)** Create a copy of the list sorted in alphabetical order without modifying the original list, and print both lists.

**7)** Delete the values from the first element up to the fourth element in the list given below

zodiac_signs = ["Aries", "Taurus", "Gemini", "Cancer", "Capricorn"]

**8)** Prompt the user to enter a name, then print the second letter of the entered name to the screen.

**9)** Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old. For example,

What is your name? Khalid

How old are you? 23

Khalid will be 100 years old in the year 2101

**10)** Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. Get Input from user. For example, 5 + 55 + 555 = 615

In [ ]:
fruits = ["pineapple", "banana", "pear"]
fruits.append("fig")
print(fruits)

['pineapple', 'banana', 'pear', 'fig']

In [ ]:
ages = [7, 10, 6, 9]
print(len(ages))

4

In [ ]:
fruits.insert(1,"grape")
print(fruits)

['pineapple', 'grape', 'banana', 'pear', 'fig']

In [ ]:
fruits = ['pineapple', 'grape', 'grape', 'banana', 'pear', 'fig']
fruits.remove("fig")
print(fruits)

['pineapple', 'grape', 'grape', 'banana', 'pear']

In [ ]:
fruits = ["apple", "banana", "cherry","fig"]
fruits.sort(reverse=True)
print(fruits[-1])

apple

In [ ]:
fruits = ['pineapple', 'grape', 'grape', 'banana', 'pear']
sorted_fruits = sorted(fruits)
print("Original list:", fruits)
print("Sorted list:", sorted_fruits)

Original list: ['pineapple', 'grape', 'grape', 'banana', 'pear']
Sorted list: ['banana', 'grape', 'grape', 'pear', 'pineapple']

In [ ]:
zodiac_signs = ["Aries", "Taurus", "Gemini", "Cancer", "Capricorn"]
del zodiac_signs[:4]
print(zodiac_signs)

['Capricorn']

In [ ]:
name=input("Enter a name:")
print(name[1])

Enter a name:Kamal
a

In [ ]:
current_year = 2024
name = input("Enter your name: ")
age = int(input("Enter your age: "))
year_turn_100 = current_year + (100 - age)
print(f"{name} will turn 100 in {year_turn_100}.")

Enter your name: Kamal
Enter your age: 19
Kamal will turn 100 in 2105.

In [ ]:
n = input("Enter an integer: ")
n_int = int(n)
nn = int(n * 2)
nnn = int(n * 3)
result = n_int + nn + nnn
print(f"The result of {n} + {nn} + {nnn} is: {result}")

Enter an integer: 1
The result of 1 + 11 + 111 is: 123